{% extends 'base.html.twig' %}

{% block title %}MiniChat{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-10" style="overflow-x: hidden; overflow-y: scroll; border:#000000 1px solid; width: 500px; height: 555px;">
            <h5>Pseudo</h5> <p>1/1/2021</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur doloribus eos error eveniet ex exercitationem, fuga fugiat in iste, laboriosam molestias nesciunt nisi omnis quibusdam quo rerum suscipit velit!</p>
            <h5>Pseudo 1</h5> <p>1/1/2021</p>
            <p>azertyuiop</p>
            <h5>Pseudo</h5> <p>1/1/2021</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur doloribus eos error eveniet ex exercitationem, fuga fugiat in iste, laboriosam molestias nesciunt nisi omnis quibusdam quo rerum suscipit velit!</p>
            <h5>Pseudo 1</h5> <p>1/1/2021</p>
            <p>azertyuiop</p>
            <h5>Pseudo</h5> <p>1/1/2021</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur doloribus eos error eveniet ex exercitationem, fuga fugiat in iste, laboriosam molestias nesciunt nisi omnis quibusdam quo rerum suscipit velit!</p>
            <h5>Pseudo 1</h5> <p>1/1/2021</p>
            <p>azertyuiop</p>
            <h5>Pseudo</h5> <p>1/1/2021</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur doloribus eos error eveniet ex exercitationem, fuga fugiat in iste, laboriosam molestias nesciunt nisi omnis quibusdam quo rerum suscipit velit!</p>
            <h5>Pseudo 1</h5> <p>1/1/2021</p>
            <p>azertyuiop</p>
        </div>
        <div class="col-lg-2">
            <h3>Membres connectés</h3>
            <!--liste des membres conecté à faire-->
            <ul>
                <li>pseudo 1</li>
                <li>pseudo 2</li>
                <li>pseudo 3</li>
                <li>pseudo 4</li>
                <li>pseudo 5</li>
                <li>pseudo 6</li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-10" style="text-align:center;">
            <textarea name="" id="" cols="150" rows="5"></textarea><br>
            <button type="button" class="btn btn-success">Envoyer</button>
        </div>
        <div class="col-lg-2" id="param" style="text-align:center;">
            <p>pseudo</p>
            <button type="button" class="btn btn-danger">Déconnexion</button>
        </div>
    </div>
{% endblock %}
